@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans';
    color: var(--text-color);
  }

  body {
    margin: 2% 2%;
  }

    .principal {
        display: grid;
        gap: 3% 3%;
        box-sizing: border-box;
        grid-template-columns: 20% 37% 37%;
        grid-template-rows: 4% 12% 5% 16% 11% 23%;
        grid-template-areas: "usuario projetos projetos"
                             "usuario projeto1 projeto2"
                             "contatos postagens postagens"
                             "contatos postagem postagem"
                             "tecnologias . ."
                             "experiencias . ."
                             "educacao . . ";
            

    }

/*Usuário*/
    .usuario {
        grid-area: usuario;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 20vw;
        height: 35vh;
    }

        .usuario img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            border: solid 2px green;
        }
            .usuarioConteudo {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10%;
            }
                .fotoPerfil {
                    flex-direction: column;
                    align-items: center; 
                }
                    .usuarioTexto {
                        flex-direction: column;
                        align-items: center;
                    }

/*Meus projetos*/
    .projetos {
        grid-area: projetos ;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 73vw;
        height: 10vh;
    }
        .projetosDiv {
            display: flex;
            justify-content: space-between;
        }
            .meusProjetosTexto {
                padding-left: 2%;
                padding-top: 1%;
            }
                .verMais {
                    padding-right: 3%;
                    padding-top: 1.5%;
                }

    .projeto1 {
        grid-area: projeto1;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 35vw;
        height: 25vh;
    }
        .pasta-e-titulo {
            display: flex;
            gap: 3%;
            padding-left: 3.5%;
        }
            .informacoes-projeto {
                padding-left: 4%;
            }
                .estrela {
                    display: flex;
                }
                    .git-branch {
                        display: flex;
                    }
                        .js {
                            padding-left: 60%;
                        }
                        .projeto1-base {
                            display: flex;
                            gap: 3%;
                            padding-left: 3.5%;
                        }
                            .projeto1-padding {
                                padding:5% 3% 3% 4%;
                            }

    .projeto2 {
        grid-area: projeto2;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 35vw;
        height: 25vh;
    }
    

    .postagens {
        grid-area: postagens ;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 73vw;
        height: 10vh;
    }
    
    .postagem {
        grid-area: postagem;
        width: 73vw;
        height: 29vh;
        border: solid 2px var(--bg-cards);
        border-radius: 10px;
      
        display: flex;
        flex-direction:column;

        background-color: var(--bg-cards);
      }
      
      
      .conteudoPostagem {
        display: flex;
        align-items: center;
        padding-left: 5%;
        padding-top: 2%;
      }
      .texto-da-postagem {
        padding: 0% 5% 0% 3%;
      }

    .contatos {
        grid-area: contatos;
        border: solid 2px var(--bg-cards);
        width: 20vw;
        height: 50vh;
        border-radius: 10px;
        background: var(--bg-cards);
      }
      .contatos p {
        display: flex;
        flex-direction: row;
        gap: 5%;
        padding: 5%;
      }

    .tecnologias {
        grid-area: tecnologias;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 20vw;
        height: 21vh;
    }

    .experiencias {
        grid-area: experiencias;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 20vw;
        height: 44vh;
    }

    .educacao {
        grid-area: educacao;
        background-color: var(--bg-cards);
        border-radius: 10px;
        width: 20vw;
        height: 44vh;
    }